<!--Source https://www.w3schools.com/tags/tag_footer.asp -->
</main>
<footer class="text-center mt-5">
  <p>&copy; 2024 Tyler Furtado. All rights reserved.</p>
  <a href="https://github.com/Tyler653">GitHub</a> |
  <a href="https://ca.linkedin.com/in/tyler-furtado-571672291?trk=people-guest_people_search-card">LinkedIn</a>
</footer>
<script src="/path/to/jquery.min.js"></script> 
<script src="/path/to/bootstrap.bundle.min.js"></script> 
</body>
</html>
