<%- include('partials/header') %>
<h1>About Me</h1>
<p>I'm Tyler Furtado, currently studying IT at Ontario Tech University. I am passionate about technology and always eager to learn more.</p>
<%- include('partials/footer') %>
