<%- include('partials/header') %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">About Me</h2>
    <p class="card-text">I am a high school graduate of Mount Saint Agnes Academy and currently a student at Ontario Tech University studying a Bachelors Degree in Information Technology. This past summer I was enrolled in the Technology Leadership Forum where I was connected with Bermuda Hospital Board witch was my summer employment. I have also interned at XBTO learning crypto databasing with Python. Throughout my time interning at these establishments I have gained a diverse set of skills in networking, cybersecurity, programming and communications. I am eager to grow in my profession and gain as much experience as I can.</p>
  </div>
</div>
<%- include('partials/footer') %>
