<%- include('partials/header') %>
<h1>Welcome to My Portfolio</h1>
<p>Hi, I'm Tyler Furtado, an aspiring IT professional specializing in networking, cybersecurity, and programming.</p>
<%- include('partials/footer') %>
