<%- include('partials/header') %>
<h1>Projects</h1>
<ul>
    <li>Crypto Databasing with Python at XBTO</li>
    <li>Technology Leadership Forum project at Bermuda Hospital Board</li>
</ul>
<%- include('partials/footer') %>
