<%- include('partials/header') %>
<h2>My Projects</h2>
<ul class="list-group">
  <li class="list-group-item">Project 1 - Description</li>
  <li class="list-group-item">Project 2 - Description</li>
  <li class="list-group-item">Project 3 - Description</li>
</ul>
<%- include('partials/footer') %>
