<%- include('partials/header') %>
<h2>My Projects</h2>
<ul class="list-group">
  <li class="list-group-item">Bermuda Hospital Board Intern - Working in a real wold IT department learning different cyber security skills</li>
  <li class="list-group-item">Technology Leadership Forum Intern - Working in a team of 5 to create a webstie and learning a vareity of different jobs related to IT</li>
  <li class="list-group-item">XBTO Intern - Using python to help with crypto databasing</li>
</ul>
<%- include('partials/footer') %>
